<h1>ユーザー 一覧</h1>
<hr>
<p><%= link_to "新規投稿", new_user_path, class: "btn btn-info btn-block" %></p>
<table class="table">
  <tbody>
    <% @users.each do |user| %>
      <tr>
      <td class="user_name"><%= user.name %></td>
      <td><%= link_to  "詳細", user_path(user), class: "btn btn-primary" %></td>
      <td><%= link_to  "編集", edit_user_path(user), class: "btn btn-success" %></td>
      <td><%= link_to  "削除", user_path(user), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>